/* These CSS variables are just here to list the colours */
/* To support IE they are not used in any CSS variables */
:root {
  --fire-bg-color: #ff4e50;
  --okay-bg-color: #59a80f;
  --unknown-bg-color: #f9d423;
}

html, body{
  background-color: black;
  color: white;
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

a {
  text-decoration: inherit;
  color: inherit;
}

a:hover {
  text-decoration: underline;
}

.probe-target[data-stale="true"] {
  filter: grayscale(90%);
  -webkit-filter: grayscale(90%);
}

.probe-target[data-status="Fire"] {
  background-color: #ff4e50;
}

.probe-target[data-status="Okay"] {
  background-color: #59a80f;
}

.probe-last-okay {
  display: none;
}

.probe-target[data-status="Unknown"] .probe-last-okay,
.probe-target[data-status="Fire"] .probe-last-okay {
  display: block;
}

/* Default status is "Unknown" */
.probe-target {
  background-color: #f9d423;
  color: white;
  flex: 1;
  height: 100%;
  transition: all .5s;
  width: 100%;
}

.probe-name {
  font-size: 150%;
  margin: 0 0 .5em;
}

.probe-status {
  margin-bottom: .5em;
}

.probe-last-okay {
  margin-top: .5em;
}

.probe-container {
  padding: 1em;
}

#root {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
}
